$font_default: 'Open Sans', sans-serif;
$font_size_default: 12px;
$font_size_header: 15px;

$color_bg_dark: #2C2C2C; 
$color_bg_header: #DDDDDD;
$color_bg: #DCDCDC; 
$color_bg_light: #F3F3F3; 
$color_bg_blue: #007ACC; 

$color_bg_enabled: lightgreen;
$color_bg_disabled: lightcoral;

$color_border_gray: #BABABA;

$color_selected: #CCCEDB;

$window_min_width: 500px;

$menubar_width: 50px;
$menubar_item_cnt: 5;

$menu_width: 200px;

$footer_height: 20px;