<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/iconLarge.png">
                SmartCar Identity
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                The identity server manages the user accounts for the whole SmartCar application.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                Click <a href="~/Account/Login">here</a> to get to the login panel.
            </p>
        </div>
    </div>
</div>
