.#{$swipeHelp} {
    @extend .#{$img_swipeHelp};

    position: absolute;

    width: 100%;
    height: 100%;

    left: 0px;
    bottom: 100px;

    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 50% auto;
}
